@import 'variables.styl'
html, body
    height 100%
    overflow auto
    color $font0
a
    color #FF9800
    text-decoration none
    &:hover, &focus
        color #FB8C00
h1, h2, h3, h4, h5, h6
    margin 0
ul
    list-style none
    margin 0
    padding 0
