// 白色
$white0 = #fff
$white1 = rgba(255, 255, 255, 0.1)
$white2 = rgba(255, 255, 255, 0.2)
$white3 = rgba(255, 255, 255, 0.3)
$white4 = rgba(255, 255, 255, 0.4)
$white5 = rgba(255, 255, 255, 0.5)
$white6 = rgba(255, 255, 255, 0.6)
$white7 = rgba(255, 255, 255, 0.7)
$white8 = rgba(255, 255, 255, 0.8)
$white9 = rgba(255, 255, 255, 0.9)
// 黑色
$black0 = #000
$black1 = rgba(0, 0, 0, 0.1)
$black2 = rgba(0, 0, 0, 0.2)
$black3 = rgba(0, 0, 0, 0.3)
$black4 = rgba(0, 0, 0, 0.4)
$black5 = rgba(0, 0, 0, 0.5)
$black6 = rgba(0, 0, 0, 0.6)
$black7 = rgba(0, 0, 0, 0.7)
$black8 = rgba(0, 0, 0, 0.8)
$black9 = rgba(0, 0, 0, 0.9)
// 文字
$font0 = #333
$font1 = #666
$font2 = #999

// 边框
$border0 = #ddd
// 基础purple
$base0 = #ede7f6
$base1 = #d1c4e9
$base2 = #b39ddb
$base3 = #9575cd
$base4 = #7e57c2
$base5 = #673ab7
$base6 = #5e35b1
$base7 = #512da8
$base8 = #4527a0
$base9 = #311b92
$baseA0 = #b388ff
$baseA1 = #7c4dff
$baseA2 = #651fff
$baseA3 = #6200ea
// 警告amber
$warning0 = #FFF8E1
$warning1 = #FFECB3
$warning2 = #FFE082
$warning3 = #FFD54F
$warning4 = #FFCA28
$warning5 = #FFC107
$warning6 = #FFB300
$warning7 = #FFA000
$warning8 = #FF8F00
$warning9 = #FF6F00
$warningA0 = #FFE57F
$warningA1 = #FFD740
$warningA2 = #FFC400
$warningA3 = #FFAB00
// 危险red
$danger0 = #FFEBEE
$danger1 = #FFCDD2
$danger2 = #EF9A9A
$danger3 = #E57373
$danger4 = #EF5350
$danger5 = #F44336
$danger6 = #E53935
$danger7 = #D32F2F
$danger8 = #C62828
$danger9 = #B71C1C
$dangerA0 = #FF8A80
$dangerA1 = #FF5252
$dangerA2 = #FF1744
$dangerA3 = #D50000
// 成功lightGreen
$success0 = #F1F8E9
$success1 = #DCEDC8
$success2 = #C5E1A5
$success3 = #AED581
$success4 = #9CCC65
$success5 = #8BC34A
$success6 = #7CB342
$success7 = #689F38
$success8 = #558B2F
$success9 = #33691E
$successA0 = #CCFF90
$successA1 = #B2FF59
$successA2 = #76FF03
$successA3 = #64DD17
